<html>
<div *ngFor="let snowfake of snowflakeArray" class="snowflake">
  ❅
</div>
<ul class="lightrope">
  <li *ngFor="let light of lightArray"></li>
</ul>
<div class="background">
  <div class="icon-wrapper">
    <button matbutton (click)="openHelp()" class="help-button">
      <mat-icon>help_outline</mat-icon>
    </button>
    <button matbutton (click)="openAbout()" class="about-button">
      <mat-icon>info_outline</mat-icon>
    </button>
  </div>
  <div class="image-wrapper">
    <img *ngIf="currentSelectedImage === 1" class="movie-image" [src]="currentMovie.img1">
    <img *ngIf="currentSelectedImage === 2" class="movie-image" [src]="currentMovie.img2">
    <img *ngIf="currentSelectedImage === 3" class="movie-image" [src]="currentMovie.img3">
    <img *ngIf="currentSelectedImage === 4" class="movie-image" [src]="currentMovie.img4">
    <img *ngIf="currentSelectedImage === 5" class="movie-image" [src]="currentMovie.img5">
    <button mat-button *ngIf="currentImage >= 1" class="image-buttons" (click)="setSelectedImage(1)">1</button>
    <button mat-button *ngIf=" currentImage>= 2" class="image-buttons" (click)="setSelectedImage(2)">2</button>
    <button mat-button *ngIf="currentImage >= 3" class="image-buttons" (click)="setSelectedImage(3)">3</button>
    <button mat-button *ngIf="currentImage >= 4" class="image-buttons" (click)="setSelectedImage(4)">4</button>
    <button mat-button *ngIf="currentImage >= 5" class="image-buttons" (click)="setSelectedImage(5)">5</button>

    <div class="wrong-guesses-wrapper">
      <div *ngFor="let guess of wrongGuesses" class="wrong-guesses">{{guess}}</div>
      <div *ngIf="!isCorrect && !lost && !isLastGuess" class="guess-label">{{guessesLeft}} GUESSES REMAINING</div>
      <div *ngIf="!isCorrect && !lost && isLastGuess" class="guess-label">LAST GUESS</div>
    </div>

  </div>
  <div class="search-wrapper">
    <input *ngIf="!isCorrect && !lost" class="search-bar" type="text"
      placeholder="Search for a movie or hit enter to skip" [(ngModel)]="searchedText" (keyup)="searchMovies()"
      (keyup.enter)="checkAnswer()">
    <div class="search-wrapper2">
      <ul>
        <li *ngFor="let title of filteredMovies">
          <button class="searched-movies" (click)="fillInMovie(title)">
            {{title}}
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="isCorrect" class="answer-wrapper1">
    <div *ngIf="isCorrect" class="correct-answer2">You got it!</div>
  </div>
  <div *ngIf="lost" class="answer-wrapper2">
    <div *ngIf="lost" class="correct-answer1">THE ANSWER WAS:</div>
    <div *ngIf="lost" class="correct-answer2">{{currentMovie.title}}</div>
  </div>
  <button mat-button class="play-again-button" *ngIf="isCorrect || lost" (click)="loadNewMovie()">Play again?</button>

</div>

</html>
<!-- <div *ngFor="let title of movieTitles">{{title}}</div> -->