<p class="instructions">INSTRUCTIONS</p>
<div>
  <mat-icon>image</mat-icon>
  <span class="text">Use the image provided to guess the name of the movie.</span>
</div>
<div>
  <mat-icon>remove_red_eye</mat-icon>
  <span class="text">If you get a guess wrong a new image from the movie is revealed.</span>
</div>
<div>
  <mat-icon>fast_forward</mat-icon>
  <span class="text">Leave the input blank and press Submit to skip to the next image.</span>
</div>
<div>
  <mat-icon>search</mat-icon>
  <span class="text">As you type, the list of all possible movies is filtered below the search bar - if it doesn't show
    up, it won't be the answer.</span>
</div>